<script id="libro-detalle-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-xlg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h4>
        <button type="button" class="close" data-dimdiss="modal" aria-label="Close" id="closeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="texto-der" id="mensajeRptaLibro"></label>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group pull-right" style="padding-top:10px">
              <button class="btn btn-default guardar-tabla" id="btnGuardarDetalleLibro"><i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
