<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title></title>
  </head>
  <body>
    <h1>Header</h1>
    <%= yield %>
    <h2>Footer</h2>
  </body>
</html>
